<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Exercise Regimen</h1>
    <a href="https://www.chloeting.com/program/2020/hourglass-program.html">Chloe Ting</a>
    <a href="https://www.youtube.com/watch?v=AnYl6Nk9GOA&list=PLjwy4B-Z2vBhxFneAZ-ZHaPlN5b8uJDPU&index=18&t=0s">Pamela Reif</a>
    <table style="width:100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td> 
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td> 
        <td>94</td>
      </tr>
    </table>
    </body>
</html>

