<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Exercise Regimen</h1>
    <p>Hi, there. Here is a weekly exercise regimen you can follow.</p>
     <p>Here are the links and a regimen table you can follow: </p>
    <a href="https://www.chloeting.com/program/2020/hourglass-program.html">Chloe Ting</a>
    <a href="https://www.youtube.com/watch?v=AnYl6Nk9GOA&list=PLjwy4B-Z2vBhxFneAZ-ZHaPlN5b8uJDPU&index=18&t=0s">Pamela Reif</a>
    <table style="width:100%">
      <tr>
        <th>Days</th>
        <th>Workout</th> 
        <th>Body Parts</th>
      </tr>
      <tr>
        <td>Day 1</td>
        <td>Pamela 10 min Ab</td> 
        <td>Ab</td>
      </tr>
      <tr>
        <td>Day 2</td>
        <td>Chloe Ting</td> 
        <td>Legs</td>
      </tr>
      <tr>
        <td>Day 3</td>
        <td>Pamela Hiit</td> 
        <td>Hiit</td>
      </tr>
      <tr>
        <td>Day 4</td>
        <td>Rest</td> 
        <td>Whole body</td>
      </tr>
      <tr>
        <td>Day 5</td>
        <td>Chloe Ting</td> 
        <td>Arms</td>
      </tr>
      <tr>
        <td>Day 6</td>
        <td>Chloe Ting</td> 
        <td>Legs</td>
      </tr>
      <tr>
        <td>Day 7</td>
        <td>Rest</td> 
        <td>Whole body</td>
      </tr>
    </table>
    </body>
</html>

