<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Yang Li</h1>
    <p>Class of 2020</p>
    <p>Psychology</p>
    <img src="yang.jpeg" alt="Yang" width = "200" height = "300" >
    <h1>Fav Page</h1>
    <a href="https://www.nypl.org">New York Public Library</a>
    <h1>Exercise Regiment</h1>
    <a href="http://127.0.0.1:5000/exercise">Exercise Regiment</a>
    <h1>Fav YouTuber</h1>
    <a href="http://127.0.0.1:5000/youtuber">Favorite YouTubers</a>
    
    </body>
</html>

