<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Fav YouTuber<h1>
    <p>I like this makeup artist Hindash becuase he has really good techniques</p>
    <a href="https://www.youtube.com/watch?v=Qv6AnxmEhV8">Hindash</a>
    <p>I like Morgan Turner for her good comments and styles</p>
    <a href="https://www.youtube.com/channel/UCCnngeLwoZCSSuSs9ePuDqA">Morgan Turner</a>
    <p>I like Samantha Ravndahl for her humor</p>
    <a href="https://www.youtube.com/watch?v=8rO5Qc8W9zw">Samantha Ravndahl</a>
    

    
  
    </body>
</html>

